name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  docker-image:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0

    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile -t dnstester