name: Publish

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  dockerhub:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Patch version temporarily
      run: |
        VERSION=$(echo "${{ github.event.release.tag_name }}" | cut -c2-)
        sed -i "s/PACKAGE_VERSION = \".*\"/PACKAGE_VERSION = \"$VERSION\"/" cli/version.py
        echo cli/version.py

    - name: Build the Docker image
      run: |
        docker build . --file Dockerfile -t dnstester

    - name: Tag image
      run: |
        docker tag dnstester dmachard/dnstester:${{ github.event.release.tag_name }}
        docker tag dnstester dmachard/dnstester:latest

    - name: Upload to DockerHub
      run: |
        echo "${{ secrets.DOCKERHUB_PASSWORD }}" | docker login -u "${{ secrets.DOCKERHUB_LOGIN }}" --password-stdin
        docker push dmachard/dnstester:latest
        docker push dmachard/dnstester:${{ github.event.release.tag_name }}
