name: Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      
jobs:
  dns-tester:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python: [ "3.11", "3.12", "3.13", "3.14" ]

    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python}}

    - name: Run Python tests
      run: |
        python --version
        python -m pip install -r requirements.txt
        pytest tests/ -v
